.admin.row(ng-controller="AdminCtrl")
  .col-md-4
    button.btn.btn-default(type="button", ng-click="create()")
      | Create New
    h3
      | Guest list
    input(type="text", ng-model="searchText")
    table.table.table-hover
      thead
        tr
          th Name
          th Action
      tbody
        tr(ng-repeat="guest in guests | filter:searchText",
           ng-animate="'animate'",
           ng-class="{success: guest._id === selectedGuest._id}",
           ng-click="select(guest)")
          td {{guest.name}}
          td
            button.btn.btn-xs.btn-warning(ng-click="edit(guest)")
              span.glyphicon.glyphicon-pencil
            | &nbsp;
            button.btn.btn-xs.btn-danger(ng-click="delete(guest)")
              span.glyphicon.glyphicon-remove
  .col-md-8
    form(role="form")
      .form-group
        label(for="name") Name
        input.form-control#name(type="text", ng-model="selectedGuest.name", placeholder="Name")
      .form-group
        label(for="acceptedMessage") Accepted Message
        input.form-control#acceptedMessage(type="text", ng-model="selectedGuest.messages.acceptedMessage", placeholder="Accepted message")
      .form-group
        label(for="declinedMessage") Declined Message
        input.form-control#declinedMessage(type="text", ng-model="selectedGuest.messages.declinedMessage", placeholder="Declined message")
      .form-group
        label(for="openedMessage") Opened Message
        input.form-control#openedMessage(type="text", ng-model="selectedGuest.messages.openedMessage", placeholder="Opened message")
      .form-group
        label(for="unopenedMessage") Unopened Message
        input.form-control#unopenedMessage(type="text", ng-model="selectedGuest.messages.unopenedMessage", placeholder="Unopened message")
      .form-group
        label(for="phone") Phone number
        input.form-control#phone(type="tel", ng-model="selectedGuest.phone", placeholder="Unopened message")
    button.btn.btn-primary(ng-click="save(guest)") Save
    | &nbsp;
    button.btn.btn-warning(ng-click="cancel()") Cancel



