.guests(ng-controller="GuestsCtrl")
  button.btn.btn-default(type="button", ng-click="create()")
    | Create New

  h3
    | Guest list

  table.table.table-hover
    thead
      tr
        th Name
        th Action
    tbody
      tr.my-repeat-animation(ng-repeat="guest in guests",ng-animate="'animate'")
        td {{guest.name}}
        td
          button.btn.btn-xs.btn-warning(ng-click="edit(guest)")
            span.glyphicon.glyphicon-pencil
          | &nbsp;
          button.btn.btn-xs.btn-danger(ng-click="delete(guest)")
            span.glyphicon.glyphicon-remove

